{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('questionquestion') }}">Question</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('questioncreate') }}">Add Question</a></li>
                {% endif %}
            </ol>
    </div>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col">
                        <div class="card" style="">
                            <div class="card-body">
                                <h5 class="card-title">{{ question.category}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ question.user }}</h6>
                                <p class="card-text"> {{ question.askquestion }}</p>

                                <a href="{{ path('questionedit', {'id':question.id}) }}" class="card-link">Edit</a>
                                <a href="{{ path('questiondelete', {'id':question.id}) }}" class="card-link text-danger">Delete</a>
                                <h5 class="text-primary">reply: </h5>
                                {{ form(form) }}
                                {% for reply in question.reply %}
                                    <p style="margin-left: 20px;">{{ reply.replytext }}</p>
                                {% endfor %}



                            </div>
                        </div>
                        <br>


                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
